## Ejercicios - pandas 4

In [123]:
import numpy as np
import pandas as pd

In [124]:
# Versiones

print(f"numpy=={np.__version__}")
print(f"pandas=={pd.__version__}")

numpy==2.2.0
pandas==2.2.3

#### En la siguiente celda se guarda la información del excel

In [125]:
df1 = pd.read_excel("./Data/Airbnb_NYC.xlsx", sheet_name = "NYC1")
df2 = pd.read_excel("./Data/Airbnb_NYC.xlsx", sheet_name = "NYC2")

### Ejercicio 0:
- Une los dos DataFrames anteriores por la columna **id**. Guarda en nuevo DataFrame en **df**

In [126]:
df = pd.merge(df1, df2)
df.head(2)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0

### Ejercicio 1:
- Si quiero hospedarme en Manhattan una sola noche y para elegir el Airbnb me guio por el que tenga el mayor número de reviews, ¿donde me debería de hospedar?

In [127]:
df1= df[(df["municipio"] == "Manhattan") & (df["minimum_nights"] == 1.0)]

In [128]:
df1.sort_values("number_of_reviews", ascending=False).head(1)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49.0,1.0,607.0,2019-06-21,7.75,3.0,293.0

In [129]:
df["room_type"].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

### Ejercicio 2:
- Busco un Airbnb en el municipio donde el precio promedio de alquiler sea el más bajo y la cantidad de review por mes sea el mayor. ¿Cuáles son las 3 habitaciones que mejor se adaptan a estos criterios?

In [130]:
media_municipio = df.groupby('municipio')['price'].mean()
media_municipio.idxmin()

'Bronx'

In [131]:
df2= df[(df["room_type"] == "Private room") & (df["municipio"] == "Bronx")]

In [132]:
df2.sort_values("reviews_per_month", ascending=False).head(3)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
42252,32801214,TW #6 Private Suite 2nd Fl. 1 to 4 Guests,211136294,Sharon & Erika,Bronx,Schuylerville,40.83560,-73.83369,Private room,150.0,1.0,24.0,2019-06-20,8.37,5.0,247.0
30579,23666777,LATE CHECK IN DISCOUNT! NO CLEANING FEE! 2/5 t...,82889379,Shera,Bronx,Woodlawn,40.89873,-73.86449,Private room,34.0,1.0,122.0,2019-06-28,8.24,4.0,5.0
43806,33884349,Comfy Bronx home away from home,54136018,Louise,Bronx,Kingsbridge,40.86925,-73.89974,Private room,35.0,1.0,8.0,2019-06-27,8.00,1.0,48.0

### Ejercicio 3:
- Quiero rentar un Airbnb completo por un total de 200 días, en Brooklyn o Manhattan; no quiero pagar más de 150 dólares por noche, ¿Cuáles son las 5 opciones más economicas que me ofrece Airbnb?

In [133]:
df3= df[(df["availability_365"] >= 200) 
        & (df["room_type"] == "Entire home/apt") 
        & (df["price"] <= 150) 
        & (df["municipio"].isin(["Brooklyn", "Manhattan"]))]

In [134]:
df3.sort_values("price").head(5)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
46049,35042058,"Big one bedroom apt, new and beautiful.",19342,Rivka,Manhattan,Upper West Side,40.79900,-73.96315,Entire home/apt,11.0,7.0,0.0,NaT,NaN,1.0,273.0
20992,16620607,Spacious and Modern 2 Bedroom Apartment,109725962,Erika,Brooklyn,Bushwick,40.68994,-73.91556,Entire home/apt,11.0,2.0,113.0,2019-06-22,3.86,1.0,261.0
28517,22103438,Dee's Rest Easy,161468583,Dee,Brooklyn,Flatbush,40.64429,-73.95732,Entire home/apt,22.0,2.0,35.0,2019-04-29,1.83,1.0,312.0
25633,20523741,Cozy Mini Studio Prvt Bath & Kitchen 15 Mins JFK,141027957,Radhames,Brooklyn,Cypress Hills,40.69006,-73.86917,Entire home/apt,34.0,2.0,93.0,2019-06-30,4.07,2.0,247.0
44560,34302049,"Bright, cozy 1 bedroom near Central Park",17831516,Rebecca,Manhattan,East Harlem,40.78728,-73.94710,Entire home/apt,35.0,30.0,0.0,NaT,NaN,1.0,235.0

### Ejercicio 4:
- En un nuevo Dataframe muestra por municipio: el número de habitaciones tipo individual, casa o departamento entero y compartido; también muestra en otra columna el precio promedio de todas las habitaciones por municipio.

In [135]:
habitaciones_por_municipio = df.groupby(['municipio', 'room_type']).size().unstack(fill_value=0)

In [136]:
precio_promedio = df.groupby('municipio')['price'].mean()

In [137]:
resultado = pd.concat([habitaciones_por_municipio, precio_promedio], axis=1)
resultado.columns = list(habitaciones_por_municipio.columns) + ['precio_promedio']

In [138]:
resultado

               Entire home/apt  Private room  Shared room  precio_promedio
municipio
Bronx                      379           652           60        87.496792
Brooklyn                  9559         10132          413       124.383207
Manhattan                13199          7982          480       196.875814
Queens                    2096          3372          198        99.517649
Staten Island              176           188            9       114.812332

### Ejercicio 5:
- Crea una nueva columna en el DataFrame original, con el rating de acuerdo a la siguiente formula, donde las variables son: puntaje del municipio, número de reviews y disponibilidad de la habitación al año.

- Formula: Rating = (Puntaje de ciudad) + (número de review/ 629) + (disponibilidad / 365).

- El puntaje para cada ciudad es el siguiente {"Manhattan" : 10/10, "Brooklyn" : 8/10, "Queens" : 6/10, "Staten Island" : 4/10, "Bronx" : 2/10}.

In [139]:
puntaje = {"Manhattan" : 10/10, "Brooklyn" : 8/10, "Queens" : 6/10, "Staten Island" : 4/10, "Bronx" : 2/10}

In [140]:
def rating_df (x):
    puntaje_ciudad = puntaje.get(x["municipio"],0)
    reviews= x["number_of_reviews"] / 629
    disponibilidad = x["availability_365"] / 365
    rating = puntaje_ciudad + reviews + disponibilidad
    return rating

In [141]:
df['rating'] = df.apply(rating_df, axis=1)
df.head(1)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,1.814308

### Ejercicio 6:
- Encuentra las 5 habitaciones de cada municipio con mayor rating.

In [143]:
df6= df[df["room_type"] == "Private room"]

In [147]:
df6.sort_values(["municipio", "rating"], ascending=[True, False]).groupby("municipio").head(5)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
171,44096,Room with a View,190409,Waundell,Bronx,Highbridge,40.83232,-73.93184,Private room,40.0,1.0,219.0,2019-07-04,2.04,3.0,353.0,1.515295
1193,506575,Bronx Room Near Yankees + Harlem,2001830,Jose And Ysaira,Bronx,Morris Heights,40.84937,-73.91328,Private room,45.0,3.0,190.0,2019-06-06,2.21,2.0,329.0,1.403437
11894,9260415,Comfy Room Near Bronx Zoo and NYBG!,48106825,Julia,Bronx,Pelham Gardens,40.86617,-73.84800,Private room,47.0,2.0,138.0,2019-05-20,3.22,2.0,353.0,1.386519
557,206071,Yankee Stadium Oasis 2 stops to Manhattan!,12221,Lori,Bronx,Concourse Village,40.82802,-73.92039,Private room,50.0,3.0,258.0,2019-06-25,2.70,2.0,276.0,1.366339
15793,12774885,"Spacious, cozy bedroom in a private home",69507287,Sarah,Bronx,Wakefield,40.88871,-73.86175,Private room,40.0,1.0,151.0,2019-07-01,4.01,1.0,338.0,1.366091
4931,3533604,Private Room in a two bedroom apt.,9510645,Rylan,Brooklyn,Bushwick,40.70399,-73.92813,Private room,96.0,1.0,332.0,2019-07-06,5.57,2.0,355.0,2.300425
5789,4218129,Special OFFER on Airbnb NYC Room!,21641206,Veronica,Brooklyn,Bedford-Stuyvesant,40.69527,-73.94786,Private room,59.0,1.0,350.0,2019-06-24,6.05,4.0,328.0,2.255069
1076,453094,Bedroom with Garden at the Back,137814,Waldemar,Brooklyn,Clinton Hill,40.68699,-73.96350,Private room,70.0,2.0,339.0,2019-06-23,3.88,3.0,333.0,2.251279
5724,4170460,#1 Superhost Special Offer in NYC!,21641206,Veronica,Brooklyn,Bedford-Stuyvesant,40.69560,-73.94827,Private room,65.0,1.0,357.0,2019-06-22,6.19,4.0,321.0,2.247020
137,31994,Room with En Suite Bathroom & Deck,137814,Waldemar,Brooklyn,Clinton Hill,40.68730,-73.96340,Private room,76.0,2.0,426.0,2019-06-24,3.89,3.0,275.0,2.230690
2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49.0,1.0,597.0,2019-06-23,7.72,3.0,342.0,2.886112
2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49.0,1.0,594.0,2019-06-15,7.57,3.0,339.0,2.873123
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49.0,1.0,607.0,2019-06-21,7.75,3.0,293.0,2.767764
195,51572,Prime Location in Manhattan,237329,Lee,Manhattan,Chelsea,40.74859,-73.99671,Private room,123.0,1.0,375.0,2019-06-18,3.52,1.0,328.0,2.494815
225,58059,PRIVATE Room on Historic Sugar Hill,277379,Agnes,Manhattan,Harlem,40.82510,-73.94287,Private room,60.0,1.0,458.0,2019-07-03,4.58,2.0,258.0,2.434989
11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47.0,1.0,629.0,2019-07-05,14.58,2.0,333.0,2.512329
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48.0,1.0,510.0,2019-07-06,16.22,5.0,341.0,2.345057
1271,546383,My Little Guest Room in Flushing,2680820,Linda,Queens,Flushing,40.75578,-73.81948,Private room,55.0,1.0,474.0,2019-05-25,5.53,3.0,332.0,2.263166
8001,6157276,Bright LARGE BED near Manhattan,23591164,Angela,Queens,East Elmhurst,40.76664,-73.87577,Private room,65.0,1.0,466.0,2019-06-22,9.16,4.0,331.0,2.247708
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54.0,1.0,430.0,2019-07-03,13.45,5.0,347.0,2.234310
256,63320,D Private Che@p Room 2 Explore NYC,303939,Lissette,Staten Island,Tompkinsville,40.63481,-74.08519,Private room,36.0,2.0,333.0,2019-07-02,3.19,6.0,340.0,1.860919
249,62452,A SpeciaL!! Private Room in NY,303939,Lissette,Staten Island,Tompkinsville,40.63536,-74.08537,Private room,36.0,2.0,193.0,2019-06-25,1.85,6.0,360.0,1.693138
251,62787,C Private Room By The Ferry,303939,Lissette,Staten Island,Tompkinsville,40.63518,-74.08546,Private room,37.0,2.0,177.0,2019-07-02,1.71,6.0,320.0,1.558111
13046,9882254,Owl's Landing - Garden Room,50068597,Alex,Staten Island,Stapleton,40.63516,-74.07735,Private room,52.0,2.0,137.0,2019-07-01,3.17,3.0,340.0,1.549313
12777,9767864,Owl's Landing- The Loft,50068597,Alex,Staten Island,Tompkinsville,40.63661,-74.07868,Private room,40.0,2.0,157.0,2019-07-01,3.67,3.0,324.0,1.537274

### Ejercicio 7:
- Crea un DataFrame con la cantidad de reviews de cada municipio de acuerdo a tipo de habitación.

### Ejercicio 8:
- Encuentra los 10 barrios con mayor precio por habitación individual.

### Ejercicio 9:
- Encuentra el barrio con mejor rating de cada municipio.

### Ejercicio 10:
- Del resultado anterio, selecciona los 2 barrios con el menor precio por "dep/casa completo".

In [16]:
################################################################################################################################